{% extends 'usuario/base.html' %}

{% block titulo %}
  Usuario {{user.nome}}
{% endblock %}

{% block conteudo %}

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Dados do usuario</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nome completo: {{user.nome}}</h5>
    <h5 class="card-title">E-mail institucional: {{user.email}}</h5>
    <h5 class="card-title">Turma: {{user.turma}}</h5>
    <h5 class="card-title">Curso: {{user.curso}}</h5>
    <a class="btn btn-primary" href="{% url 'listar_usuarios' %}">Voltar</a>
  </div>
</div>

{% endblock %}