{% extends 'usuario/base.html' %}

{% block titulo %}
  Listagem de usuarios
{% endblock %}

{% block conteudo %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Nome completo</th>
        <th>E-mail institucional</th>
        <th>Turma</th>
        <th>Curso</th>
      </tr>
    </thead>
    <tbody>
      {% for user in usuario %}
      <tr>
        <td> <a href="{% url 'listar_usuario_id' user.id %}"> {{ user.nome }} </a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.turma }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'editar_usuario' user.id %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'remover_usuario' user.id %}">Remover</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary" href="{% url 'cadastrar_usuario' %}">Cadastrar</a>

{% endblock %}